body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cinza claro */
}

header {
    background-color: #4d0d0d; /* Bordô */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #c73d3d; /* Vermelho não muito forte */
    border-radius: 5px;
}

main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #4d0d0d; /* Bordô */
    padding-bottom: 10px;
    color: #4d0d0d; /* Bordô */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #c73d3d; /* Vermelho não muito forte */
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label, input, button {
    margin-bottom: 10px;
}

button {
    background-color: #c73d3d; /* Vermelho não muito forte */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #a52a2a; /* Tom mais escuro de vermelho */
}

#dice-result {
    font-weight: bold;
    color: #4d0d0d; /* Bordô */
}

#dice-history {
    margin-top: 20px;
}

#history-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#history-list li {
    margin: 5px 0;
}

#report-section {
    margin-top: 20px;
}
#report-content {
    background-color: #ffffff; /* Branco para contraste */
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}
#report-section h3 {
    color: #4d0d0d; /* Bordô */
}

#report-description, #report-details {
    width: 100%;
    margin-bottom: 10px;
}

#report-description {
    padding: 8px;
}

#report-details {
    padding: 8px;
    resize: vertical;
}

#update-report {
    background-color: #c73d3d; /* Vermelho não muito forte */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#update-report:hover {
    background-color: #a52a2a; /* Tom mais escuro de vermelho */
}
