body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cinza claro */
}

header {
    background-color: #4d0d0d; /* Bordô */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #c73d3d; /* Vermelho não muito forte */
    border-radius: 5px;
}

main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #4d0d0d; /* Bordô */
    padding-bottom: 10px;
    color: #4d0d0d; /* Bordô */
}

/* Estilos para a seção de notícias */
#news-section {
    margin-top: 20px;
}

.news-container {
    background-color: #fff; /* Fundo branco */
    border: 1px solid #ccc; /* Borda cinza clara */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para dar destaque */
}

.news h3 {
    color: #4d0d0d; /* Bordô */
    margin-bottom: 10px;
}

.news p {
    color: #333; /* Texto em cinza escuro */
}
